@import url('estilo.css');

:root {
    --font-size-small: 16px;
    --font-size-normal: 20px;
    --font-size-medium: 24px;
    --font-size-large: 28px;
    --font-size-xlarge: 36px;
    --font-size-xxlarge: 48px;
    --font-size-xxxl: 60px;
}

body {
    font-size: var(--font-size-normal);
    line-height: 1.8;
}

h1 {
    font-size: var(--font-size-xxlarge);
}

h2 {
    font-size: var(--font-size-xlarge);
}

h3 {
    font-size: var(--font-size-large);
}

a, button, input, label, select, textarea {
    font-size: var(--font-size-medium);
}

input[type="submit"] {
    font-size: var(--font-size-large);
    padding: 14px 20px;
}

form {
    font-size: var(--font-size-medium);
}

th, td {
    font-size: var(--font-size-medium);
}

/* Ocultar visualmente el enlace "Saltar al contenido" excepto con foco */
.saltar-a-contenido {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--color-saltar-contenido-fondo);
    color: var(--color-saltar-contenido-texto);
    padding: 10px;
    z-index: 100;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease;
}

.saltar-a-contenido:focus {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
